<template>
    <div id="app">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <router-link to="/introduction" class="navbar-brand"
                >SKLTR48 &nbsp; <i class="fas fa-skull"
            /></router-link>
            <div class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link to="/secrets" class="nav-link"
                        >Check a Secret</router-link
                    >
                </li>
                <li class="nav-item">
                    <router-link to="/add" class="nav-link"
                        >Tell a Secret</router-link
                    >
                </li>
            </div>
        </nav>

        <div class="container mt-3">
            <router-view />
        </div>
    </div>
</template>

<script>
export default {
    name: "app",
};
</script>

<style>
html,
body {
    background: rgb(55, 58, 54, 1) 83%;
    height: 100%;
}
#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    background:rgb(212, 129, 102);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    color: #E6E2DD;
    width: 32rem;
    margin: 0 auto;
    min-height: 32rem;
    -webkit-box-shadow: 21px 17px 20px -2px rgba(0,0,0,0.69);
    box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.69);
}
.navbar {
    width: 32rem;
    margin-top: 80px;
}
.navbar-brand {
    flex-grow: 2;
}
.nav-link {
    flex-grow: 1;
}
</style>
