<template>
    <div class="intro">
        <p>
            Hi! This is the client for my Secret Server. Press the
            <b>Tell a Secret</b>
            option, to upload a new secret. You can choose how many times the
            secret shall be checked and also you are able to define a time
            window in minutes. After the submission You will immediately get
            back the hashed string of the secret.
        </p>
        <p>
            The hash is clickable and the value will be copied to the clipboard.
            Under the <b>Check a Secret</b> menu item, you can insert the secret
            hash and the server will respond with a decrypted secret string.
        </p>
        <div class="sign">
            <p>Sincerely, <b>Skeletor48</b></p>
        </div>
    </div>
</template>

<script>
export default {
    name: "introduction",
    data() {
        return {};
    },
    methods: {},
};
</script>

<style>
.intro {
    width: 30rem;
    text-align: justify;
    margin: auto;
    margin-top: 5rem;
    color: rgb(55, 58, 54, 1);
}
.sign {
    margin-top: 3rem;
    text-align: right;
}
</style>
