<template>
    <div>
        <div>
            <div class="checker">
                <label class="label" for="title">Hash</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your Secret hash Here"
                    v-model="searchHash"
                />
                <div>
                    <button
                        class="btn btn-secondary upload"
                        type="button"
                        @click="checkSecret"
                    >
                        Check Secret
                    </button>
                </div>
            </div>
        </div>
        <div></div>
        <div>
            <div class="resultcontainer" v-show="secret.secretText && !error">
                <h4>Come closer, I have a secret to tell you</h4>
                  <div>
                    <label><strong>Secret: </strong>{{ secret.secretText }} </label>
                </div>
                <div>
                    <label><strong>Hash: </strong>{{ secret.hash }}</label>
                </div>
                <div>
                    <label
                        ><strong>Number of views remained: </strong
                        >{{ secret.remainingViews }}</label
                    >
                </div>
                <div>
                    <label
                        ><strong>Expires at: </strong
                        >{{ secret.expiresAt }}</label
                    >
                </div>
            </div>
            <p class="resultcontainer" v-show="error">{{ error }}</p>
        </div>
    </div>
</template>

<script>
import SecretDataService from "../services/SecretDataService";

export default {
    name: "decrypted-secrets",
    data() {
        return {
            secret: {},
            searchHash: "",
            error: "",
        };
    },
    methods: {
        checkSecret() {
            this.error = "";
            SecretDataService.findByHash(this.searchHash)
                .then((response) => {
                    this.secret = response.data;
                    this.searchHash = "";
                    console.log(response.data);
                })
                .catch((err) => {
                    this.error = err;
                    this.searchHash = "";
                    console.log(err);
                });
        },
    },
};
</script>

<style>
.resultcontainer {
    margin-top: 2em;
    color:rgb(55, 58, 54, 1);
    word-break: break-all;
}
.checker {
    margin-top: 4em;
    text-align: right;
}
.upload {
    margin-top: 2rem;
}
.label {
    display: flex;
    margin-top: 1rem;
}
</style>
