<template>
    <form class="submit-form" @submit="createSecret">
        <div v-if="!submitted">
            <div class="form-group">
                <label class="label" for="title">Secret</label>
                <textarea
                    placeholder="Tell me a Secret..."
                    class="form-control"
                    id="secret"
                    required
                    v-model="secret.secret"
                    name="title"
                />
            </div>
            <div class="form-group">
                <label class="label" for="title">Number of Views</label>
                <input
                    placeholder="Enter a number to limit views"
                    type="number"
                    class="form-control"
                    id="views"
                    required
                    v-model="secret.expireAfterViews"
                    name="title"
                />
            </div>
            <div class="form-group">
                <label class="label" for="title">Secret Lifetime</label>
                <input
                    type="number"
                    class="form-control muted"
                    id="minutes"
                    placeholder="Insert the time limit in minutes, 0 for infinite views"
                    v-model="secret.expireAfter"
                    name="title"
                />
            </div>
            <button type="submit" class="btn btn-secondary upload">
                Upload Secret
            </button>
             <p class="error" v-show="error">{{ error }}</p>
        </div>

        <div class="success" v-else>
            <h5>Secret has been uploaded successfully!</h5>
            <h5>
                It is available in the next
                <b>{{ secret.expireAfter }}</b> minutes for
                <b>{{ secret.expireAfterViews }}</b> views on this hash:
            </h5>
            <h6 id="hashfield" @click="copyToClipboard">
                {{ secret.hash }}
            </h6>
            <button class="btn btn-outline-secondary" @click="newSecret">
                Add new Secret
            </button>
        </div>
    </form>
</template>

<script>
import SecretDataService from "../services/SecretDataService";

export default {
    name: "add-secret",
    data() {
        return {
            secret: {
                id: null,
                secret: "",
                expireAfterViews: null,
                expireAfter: null,
                hash: "",
            },
            error: null,
            submitted: false,
        };
    },
    methods: {
        createSecret(e) {
            e.preventDefault();
            var data = {
                secret: this.secret.secret,
                expireAfterViews: this.secret.expireAfterViews,
                expireAfter: this.secret.expireAfter || 0,
            };

            SecretDataService.create(data)
                .then((response) => {
                    this.secret.hash = response.data.hash;
                    this.submitted = true;
                })
                .catch((e) => {
                    this.error = e;
                    console.log(e);
                });
        },

        newSecret() {
            this.submitted = false;
            this.secret = {};
        },

        copyToClipboard() {
            const copyText = document.getElementById("hashfield").innerHTML;
            const el = document.createElement("textarea");

            el.value = copyText.trim();
            document.body.appendChild(el);
            el.select();
            document.execCommand("copy");
            document.body.removeChild(el);
        },
    },
};
</script>

<style>
.submit-form {
    margin-top: 4rem;
    text-align: right;
    align-content: center;
}
.error{
    text-align: left;
    align-content: center;
    color: rgb(55, 58, 54, 1);
}
.form-group {
    max-width: 30rem;
    margin: auto;
}
.success {
    text-align: center;
    max-width: 30rem;
    color: rgb(55, 58, 54, 1);
    margin-top: 6rem;
}
.upload {
    margin-top: 2rem;
}
.label {
    display: flex;
    margin-top: 1rem;
}
#hashfield {
    word-break: break-all;
    max-width: 30rem;
    cursor: pointer;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-weight: bold;
}
#hashfield:active {
    transition: transform 0.5s linear;
    transform: scale(0.7);
}
</style>
